{% extends 'main.html' %}

{% block content %}

<div class="card-body">
    <h1 class="display-4 fw-bold lh-1 mb-3">Teacher Details</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.username }}</td>
                <td>{{ teacher.email }}</td>
                <td><a class="btn btn-outline-success btn-sm" href="{% url 'update_teacher' teacher.id %}">Update</a></td>
                <td><a class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ teacher.id }}" href="#">Delete</a></td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ teacher.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ teacher.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel{{ teacher.id }}">{{ teacher.username }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to permanently delete this teacher?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{% url 'delete_teacher' teacher.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Yes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
